RewriteEngine On
RewriteCond $1 !^subs/
RewriteCond %{HTTP_HOST} !^(www.)?ivanzagainov\.tk$ [NC]
RewriteCond %{HTTP_HOST} ^(www.)?([a-z0-9-]+)\.ivanzagainov\.tk$ [NC]
RewriteRule ^(.*)$ subs/%2/$1 [L]