.container {
  position: relative;
  width: 100%;
  max-width: $max-width;
  padding: 0 20px;
  margin: auto; 

  @include mq('768') {
    padding: 0 50px;
  }
  
  @include mq('1280') {
    padding: 0 90px;
  }

  @include mq('1600') {
    padding: 0 140px;
  }
}