.footer {
  background-color: $bgblue;
  padding: 20px 0;

  a {
    color: rgb(255, 248, 248);
    font-size: 2.5em;
    margin: 10px;
    transition: color .2s ease;
    .icon {
      width: 45px;
      height: 45px;
    }
  }

  &:hover {
    color: #000;
  }
}

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq('tablet') {
    flex-direction: row;
  }
}