h1 {
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 5vh;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 2vh 0;
}

h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}