include ../mixins/mixins
doctype html
html(lang="eng")
  include ../global/head-eng
  body
    include ../global/header-eng
    //main
    main
      include ../pages/eng/about
      include ../pages/eng/works
      include ../pages/eng/usage
      include ../pages/eng/place
      include ../global/footer
      include ../global/scripts