include ../mixins/mixins
doctype html
html(lang="ru")
    include ../global/head
    body
        include ../global/header
        //main
        main.wrapper
            include ../pages/index/about
            include ../pages/index/works
            include ../pages/index/usage
            include ../pages/index/place
            include ../global/footer
            include ../global/scripts