include ../mixins/mixins
doctype html
html(lang="ru")
    include ../global/head
    body
        include ../global/header
        //main
        main.wrapper
            include ../pages/index/1-screen
            include ../global/footer
            include ../modals/modals
            include ../global/scripts