include ../mixins/mixins
doctype html
html(lang="ru")
  include ../global/head
  body
    include ../global/header
    //main
    main.wrapper
      include ../global/ui
      include ../modals/modals
      include ../global/scripts