.footer
  .container
    .footer__row
      a(href='mailto:stayacid@gmail.com?subject=Вопрос_по_верстке')
        ion-icon(name='mail')
      a(href='tel:+79523520861')
        ion-icon(name='call')
      a(href='https://gitlab.com/stayacid', target='_blank', rel='nofollow', aria-label='my profile on gitlab')
        +icon('gitlab')
      a(href='https://t.me/stayacid', target='_blank', rel='nofollow', aria-label='my telegram')
        +icon('telegram-logo')
.top(title='Scroll up')
  ion-icon(name='arrow-up')
