.footer.py-4
  .container
    .row.justify-content-center
      .col-12
        a(href='mailto:stayacid@gmail.com?subject=Вопрос_по_верстке')
          i.icon.ion-ios-email-outline
        a(href='tel:+79523520861')
          i.icon.ion-ios-telephone-outline
        a(href='https://github.com/stayacid', target='_blank', rel='nofollow')
          i.icon.ion-social-github-outline
        a(href='https://t.me/stayacid', target='_blank', rel='nofollow')
          i.icon.ion-ios-navigate-outline
.top(title='Наверх')
  i.icon.ion-chevron-up
