//header
header.header
  .glasses
    img(src="img/glasses.png", alt="glasses")
  .container
    .header-logo
      a(href='#') Rus
      a(href='eng') Eng
    .header-row.row
      div
        h1
          | Привет, меня зовут 
          b.header-col__bold Иван Загайнов
          br
          | Я веб-разработчик
      .row.header-icons
        .wow.fadeIn(data-wow-delay='.2s')
          ion-icon(name='logo-html5')
          br
          h3 Верстка
        .wow.fadeIn(data-wow-delay='.3s')
          ion-icon(name='code-working')
          br
          h3 Разработка 
        .wow.fadeIn(data-wow-delay='.4s')
          ion-icon(name='desktop')
          br
          h3 Поддержка