//header
header.header
  .header-logo
    a(href='#') Rus
    a(href='eng') Eng
  .header-row.row
    .col-md-8.offset-md-2
      .col
        h1
          | Привет, меня зовут 
          b.header-col__bold Иван Загайнов
          br
          | Я веб-разработчик
      .header-row.row
        .col-md-4.wow.fadeIn(data-wow-delay='.2s')
          i.icon.ion-logo-html5
          br
          h3 HTML-верстка
        .col-md-4.wow.fadeIn(data-wow-delay='.3s')
          i.icon.ion-logo-desktop
          br
          h3 Разработка 
        .col-md-4.wow.fadeIn(data-wow-delay='.4s')
          i.icon.ion-paintbrush
          br
          h3 Поддержка сайтов