//header
header.header
  .header-logo
    a(href='index') Rus
    a(href='#') Eng
  .header-row.row
    .col-md-8.offset-md-2
      .col
        h1
          | Hello, my name is 
          b.header-col__bold Ivan Zagainov
          br
          | I am web developer
      .header-row.row
        .col-md-4.wow.fadeIn(data-wow-delay='.2s')
          i.icon.ion-social-html5-outline
          br
          h3 HTML-layout
        .col-md-4.wow.fadeIn(data-wow-delay='.3s')
          i.icon.ion-monitor
          br
          h3 Site developing
        .col-md-4.wow.fadeIn(data-wow-delay='.4s')
          i.icon.ion-paintbrush
          br
          h3 Site supporting
