//header
header.header
  .container
    .header-logo
      a(href='#') Rus
      a(href='eng') Eng
    .header-row.row
      div
        h1
          | Hello, my name is 
          b.header-col__bold Ivan Zagainov
          br
          | I am web developer
      .row.header-icons
        .wow.fadeIn(data-wow-delay='.2s')
          ion-icon(name='logo-html5')
          br
          h3 HTML-layout
        .wow.fadeIn(data-wow-delay='.3s')
          ion-icon(name='code-working')
          br
          h3 Site developing
        .wow.fadeIn(data-wow-delay='.4s')
          ion-icon(name='desktop')
          br
          h3 Site supporting