//scripts
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
script(src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js')
script(src="js/libs.min.js")
script(src="js/main.min.js")

