.about
  .container
    h2
      | Я создаю и оптимизирую сайты,
      br
      | которые продвигают ваш бизнес
    .about__row.row
      div
        p
          | Верстаю сайты по готовым макетам, делаю письма для email-рассылки. Делаю адаптивную верстку для аккуратного отображения сайта на любых устройствах. Пишу чистый и понятный код. 
      div
        p
          | Проверяю на адекватное отображение во всех современных браузерах. Оптимизирую по рекомендациям Google Lighthouse. Люблю выполнять работу аккуратно и в оговоренные сроки.
    .wow.slideInUp(style='visibility: visible;')
      img.b-lazy.img-responsive.b-loaded(src='img/items.png', alt='Верстка и создание сайтов')
