.place.py-5
  .container.my-5
    .row
      .col.my-5
        h2
          | Я живу в Санкт-Петербурге
        p
          | Посмотрите мое резюме по ссылке ниже
        a.place__resume(href='https://spb.hh.ru/applicant/resumes/view?resume=ac65c1baff02f9b6350039ed1f3232386d6651', target='_blank', rel='nofollow') Посмотреть резюме
