section.usage
  .container
    h3 Мои клиенты
    .usage__grid
      //metrostroy
      a(href="https://metrostroy-spb.ru/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.5s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;').usage-item.wow.flipInX
        .usage-item__img
          +icon('metro')
      
      //ugol
      a(href="https://ugol.me/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.5s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;').usage-item.wow.flipInX
        .usage-item__img
          img(src="img/clients/ugol.svg", alt="Ugol")
      
      //cryptopoints
      a(href="https://getcryptopoints.com/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='1.05s', style='visibility: hidden; animation-duration: 2s; animation-delay: 1.05s; animation-name: none;').usage-item.wow.flipInX
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/clients/cryptopoints.png', alt='Crypto Points')

      //Spblux
      a(href="https://spbluxwatches.ru/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.5s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;').usage-item.wow.flipInX
        .usage-item__img
          +icon('spblux')
      
      //Glexo
      a(href="https://glexotools.com/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.95s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.95s; animation-name: none;').usage-item.wow.flipInX
        img.usage-item__img.b-lazy.usage-item__img-big(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/clients/Logo@4x-768.png', alt='Glexo')
      
      //Orientir
      a(href="http://orientir-spb.ru/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.5s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;').usage-item.wow.flipInX
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/clients/orientir.png', alt='Orientir')
      
      ///Vzmakh
      a(href="https://vzmakh.com/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.65s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.65s; animation-name: none;').usage-item.wow.flipInX
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/clients/vzmakh.png', alt='Vzmakh')
      
      //pr-global
      a(href="https://pr-global.ru/", target="_blank", rel="nofollow", data-wow-duration='2s', data-wow-delay='.8s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.8s; animation-name: none;').usage-item.wow.flipInX
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/clients/pr-global.png', alt='Pr-global')


