.usage.py-5
  .container.mb-1
    h3 Технологии, с которыми я работаю
    .row.px-5.mt-5
      .col-12.col-lg.mx-1.my-4.usage-item.wow.flipInX(data-wow-duration='2s', data-wow-delay='.5s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;')
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/technology-1.png', alt='Sass')
      .col-12.col-lg.mx-1.my-4.usage-item.wow.flipInX(data-wow-duration='2s', data-wow-delay='.65s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.65s; animation-name: none;')
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/technology-2.png', alt='Git')
      .col-12.col-lg.mx-1.my-4.usage-item.wow.flipInX(data-wow-duration='2s', data-wow-delay='.8s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.8s; animation-name: none;')
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/technology-3.png', alt='Gulp')
      .col-12.col-lg.mx-1.my-4.usage-item.wow.flipInX(data-wow-duration='2s', data-wow-delay='.95s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.95s; animation-name: none;')
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/technology-4.png', alt='Bootstrap')
      .col-12.col-lg.mx-1.my-4.usage-item.wow.flipInX(data-wow-duration='2s', data-wow-delay='1.05s', style='visibility: hidden; animation-duration: 2s; animation-delay: 1.05s; animation-name: none;')
        img.usage-item__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/technology-5.png', alt='jQuery')
