.works
  .container.wow.zoomIn(style='visibility: visible;')
    h2 Мое портфолио
    p
      | Здесь представлены некоторые из моих последних работ с кратким описанием, скриншотами и ссылками
  .works__grid
    //Finexpo
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.30s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_15.jpg', alt='Finexpo')
      .works-card__overlay
        h4 Finexpo
        p Сверстан полностью мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_15.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://finexpo.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //Metrostroy
    .works-card.wow.fadeIn(style='visibility: hidden; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_02.jpg', alt='Сайт Метростроя')
      .works-card__overlay
        h4 Метрострой
        p Большая часть сверстана мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_2.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='https://metrostroy-spb.ru/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //glexotool
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.75s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.75s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_13.jpg', alt='Glexotool')
      .works-card__overlay
        h4 Glexotool
        p Полностью сверстан мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_13.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://glexotool.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //glexo
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.75s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.75s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_12.jpg', alt='Glexo')
      .works-card__overlay
        h4 Glexo
        p Полностью создан мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_12.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://glexo.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //group-plus
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.75s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.75s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_10.jpg', alt='Group plus')
      .works-card__overlay
        h4 Group plus
        p Полностью сверстан мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_10.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://group-plus.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //Vit
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.9s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.9s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_11.jpg', alt='Vit community')
      .works-card__overlay
        h4 Vit community
        p Полностью сверстан мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_11.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://vit.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //Orientir
    .works-card.wow.fadeIn(style='visibility: hidden; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_01.jpg', alt='Сайт ОРИЕНТИР')
      .works-card__overlay
        h4 Ориентир
        p Полностью разработан мной на CMS Joomla + аддоны
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_1.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='https://orientir-spb.ru', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //Arma
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.30s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_09.jpg', alt='Arma')
        .works-card__overlay
          h4 Arma
          p Верстка лендинга
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_9.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://arma.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')
    //S&Mitler
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.45s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.45s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_07.jpg', alt='Сайт на Bootstrap 3')
        .works-card__overlay
          h4 S&Mitler
          p Bootstrap + jQuery
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_7.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://smitler.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')
    //Respect
    .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.6s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;')
      img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_14.jpg', alt='respect')
      .works-card__overlay
        h4 Respect
        p Большая часть сверстана мной
        .works-card__links
          a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_14.jpg')
            ion-icon(name='search')
          a.works-card__links_button.works-card__links_go(href='http://respect.ivanzagainov.tk/', rel='nofollow', target='_blank')
            ion-icon(name='redo')
    //Leto
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.6s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_08.jpg', alt='ЛЕТО')
        .works-card__overlay
          h4 LETO
          p Анимации на CSS
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_8.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://leto.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')
    //Gllacy
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.75s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.75s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_03.jpg', alt='Макет Gllacy')
        .works-card__overlay
          h4 Gllacy
          p Верстка по готовому макету. Gulp + Less + JS
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_3.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://gllacy.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')
    //Brandly
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='.9s', style='visibility: hidden; animation-duration: 2s; animation-delay: 0.9s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_04.jpg', alt='Макет Brandly')
        .works-card__overlay
          h4 Brandly
          p Верстка по готовому макету. Brackets + Less + jquery
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_4.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://brandly.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')
    //Grid
      .works-card.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1.05s', style='visibility: hidden; animation-duration: 2s; animation-delay: 1.05s; animation-name: none;')
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='img/portfolio/portfolio_05.jpg', alt='Сайт на Grid')
        .works-card__overlay
          h4 Grid
          p Grid + Pug + Sass
          .works-card__links
            a.works-card__links_button.works-card__links_view(data-fancybox='gallery', href='img/preview/preview_5.jpg')
              ion-icon(name='search')
            a.works-card__links_button.works-card__links_go(href='http://grid.ivanzagainov.tk/', rel='nofollow', target='_blank')
              ion-icon(name='redo')