$font-family-main: "MullerRegular",
"Times New Roman",
serif;
//SIZE
$font-size-main: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
//COLORS
$color-main: #000;
$color-accent: #fff;
$breakpoints: ("phone": 320px, "tablet": 768px, "laptop": 1280px, "desktop": 1600px);
//width container
$max-width: 1640px;