$font-family-main: "OpenSans-Light",
"Arial",
sans-serif;
//SIZE
$font-size-main: 18px;
$font-size-h1: 40px;
$font-size-h2: 32px;
//COLORS
$color-main: #333;
$accent: orange;
$bgblue: #70b4e3;
$bggray: #f5f5f5;
$white: #fff;  

$breakpoints: ("320": 320px, "768": 768px, "1280": 1280px, "1600": 1600px);
//width container
$max-width: 1640px;