section.about
  .container
    h2
      | I create and optimize websites 
      br
      | that promote your business
    .about__row.row
      div
        p
          | I create HTML-layout of PSD templates, create complex animations. I make sites adaptive for neat display on any devices. I write clean and understandable code. 
      div
        p
          | I сheck for adequate display in all modern browsers. I optimize sites as recommended by Google Lighthouse. I like to do my work accurately and within the agreed time frame.
    .wow.slideInUp(style='visibility: visible;')
      img.b-lazy.img-responsive.b-loaded(src='img/items.png', alt='web-developing')
