section.place
  .container
    .place__row
      h2
        | I live in the Saint-Petersburg
      p
        | Сheck my CV via the link below
      a.place__resume(href='https://www.linkedin.com/in/ivan-zagainov/', target='_blank', rel='nofollow') Check CV
