.about {
  padding: 50px 0;
  background-color: $white;
  @include mq('tablet') {
    padding: 100px 0;
  }

  &__row {
    flex-direction: column;
    @include mq('tablet') {
      flex-direction: row;
      justify-content: space-between;
    }
    >div {
      margin-bottom: 50px;
      @include mq('tablet') {
        max-width: 45%;
      }
      
    }
  }
  img {
    margin: 0 auto;
  }
}