.place {
  background: url(../img/sep.jpg) center no-repeat #fff;
  background-size: cover;

  h2 {
    color: #fff;
    font-size: 2em;
  }

  p {
    font-size: 1.1em;
    color: #fff;
  }

  &__resume {
    text-transform: uppercase;
    color: #fff;
    border: 1px solid $accent;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: $accent;
    transition: all .2s ease;
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}