.place {
  background: url(../img/sep.jpg) center no-repeat $white;
  background-size: cover;
  padding: 50px 0;
  @include mq('tablet') {
    padding: 100px 0;
  }

  &__row {
    flex-direction: column;
  }

  h2 {
    color: $white;
    font-size: 2em;
  }

  p {
    font-size: 1.1em;
    color: $white;
  }

  &__resume {
    text-transform: uppercase;
    color: $white;
    border: 1px solid $accent;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: $accent;
    transition: color .2s ease;
    margin: 25px 0;
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }


}