.usage {
  overflow: auto;
  padding: 50px 0;
  background-color: $white;
  @include mq('tablet') {
    padding: 100px 0;
  }

  &-item {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;

    &__img {
      max-width: 100%;
      height: auto;
      @include mq('tablet') {
        max-width: 100%;
      }
      .icon {
          max-width: 280px;
          width: 100%;
      }

    }

  }
}

.usage__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 25px 0;
    @include mq('tablet') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px;
    }
    @include mq('laptop') {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 0 10px;
    }
}

.place {
  background: url(../img/sep.jpg) center no-repeat $white;
  background-size: cover;

  h2 {
    color: $white;
    font-size: 2em;
  }

  p {
    font-size: 1.1em;
    color: $white;
  }

  &__resume {
    text-transform: uppercase;
    color: $white;
    border: 1px solid $accent;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: $accent;
    transition: all .2s ease;
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}