.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(118.25/10)*1rem;
	width:(161.12/118.25)*1em;
}
.icon-metro {
	font-size:(76/10)*1rem;
	width:(59/76)*1em;
}
.icon-spblux {
	font-size:(102.2/10)*1rem;
	width:(219.7/102.2)*1em;
}
.icon-telegram-logo {
	font-size:(169.97/10)*1rem;
	width:(189.9/169.97)*1em;
}
.icon-ugol {
	font-size:(49/10)*1rem;
	width:(111/49)*1em;
}
