.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(118.19/10)*1rem;
	width:(160/118.19)*1em;
}
.icon-gitlab {
	font-size:(315/10)*1rem;
	width:(340/315)*1em;
}
.icon-metro {
	font-size:(76/10)*1rem;
	width:(59/76)*1em;
}
.icon-spblux {
	font-size:(102/10)*1rem;
	width:(219.7/102)*1em;
}
.icon-telegram-logo {
	font-size:(189.47/10)*1rem;
	width:(189.47/189.47)*1em;
}
.icon-ugol {
	font-size:(49/10)*1rem;
	width:(111/49)*1em;
}
