.top.active {
  right: 25px;
}

.top {
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50%;
  bottom: 25px;
  color: #666;
  cursor: pointer;
  display: flex;
  font-size: 26px;
  height: 50px;
  justify-content: center;
  line-height: 50px;
  opacity: .5;
  position: fixed;
  right: -100px;
  text-align: center;
  transition: all .3s ease;
  width: 50px;
  z-index: 12;
  &:hover {
    opacity: 0.7;
  }
}